{
    "name": "jquery",
    "homepage": "https://jquery.com/",
    "version": "3.2.1",
    "license": [
        {
            "name": "MIT",
            "url": "https://jquery.org/license/"
        }
    ],
    "mime": "application/javascript",
    "checksum": "sha256:b40f32d17aa2c27a7098e225dd218070597646fc478c0f2aa74fb5b821a64668",
    "filepath": "flossjs/jquery/js/jquery-3.2.1.slim.js",
    "lastmod": "2017-03-20T19:00Z",
    "minified": false,
    "srcurl": "/js/jquery-3.2.1.slim.js"
}