{
    "name": "jquery",
    "homepage": "https://jquery.com/",
    "version": "3.2.1",
    "license": [
        {
            "name": "MIT",
            "url": "https://jquery.org/license/"
        }
    ],
    "mime": "application/javascript",
    "checksum": "sha256:0d9027289ffa5d9f6c8b4e0782bb31bbff2cef5ee3708ccbcb7a22df9128bb21",
    "filepath": "flossjs/jquery/js/jquery-3.2.1.js",
    "lastmod": "2017-03-20T18:59Z",
    "minified": false,
    "srcurl": "/js/jquery-3.2.1.js"
}